li {
  border-bottom: 1px solid #676767;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin-bottom: 25px;
}

.profile {
  width: 173px;
  height: auto;
}